
.meals{
    width:100vw;
    height:100%;
    display:flex;
     padding:20px 200px;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.mealImages{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     row-gap: 5px;
     width: 200px;
     background-color: rgba(53, 54, 52, 0.493);
    box-shadow: 0 0 5px grey;
    border-radius: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    transition:transform 0.2s;
    text-wrap: wrap;
}



.mealImages:hover{
    transform:scale(1.05);
}
.mealImages img{
    border-radius: 10px;
}
.mealImages p{
    color:aliceblue;
    font-size: 20px;
    font-weight: 400px;
}
.recipe-btn{
    background-color: rgb(64, 127, 8);
    height:30px;
    color:white;
    width:70px;
    padding: 3px;
    border: none;
    outline:none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500px;
}